html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-size: 2.5em;
  color: red;
  line-height: 1.02em;
  font-family: "Georgia";
  text-transform: uppercase; }

.mainContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.gContainer {
  margin-left: 0; }
